#SettingWindow {
	border-image: url(theme\Elements.png) rect(109,0,68,166) 90 20 51 28;
	margin: 90 20 51 28;
	width: 480;
	height:435;
}

#SettingWindow #RedTrafficLight {
	background: url(theme\Elements.png) no-repeat rect(0,93,15,16);
	width: 15;
	height:16;
	x:454;
	y:12;
}

#SettingWindow #RedTrafficLight : hover {
	background: url(theme\Elements.png) no-repeat rect(15,93,15,16);
}

#SettingWindow #RedTrafficLight : pressed {
	background: url(theme\Elements.png) no-repeat rect(30,93,15,16);
}

#SettingWindow #CloseButton {
	background: url(theme\Elements.png) no-repeat rect(0,0,79,31) opaque;
	width:79;
	height:31;
	x:376;
	y:391;
}

#SettingWindow #CloseButton : hover {
	background: url(theme\Elements.png) no-repeat rect(0,31,79,31) opaque;
}

#SettingWindow #CloseButton : pressed {
	background: url(theme\Elements.png) no-repeat rect(0,62,79,31) opaque;
}

#SettingWindow #StatusLabel {
	width:332;
	height:25;
	x:25;
	y:393;
	font: 9px Î¢ÈíÑÅºÚ;
	text-shadow: 0 1 0 #FFFFFFFF;
	color: #FF4A4A4A;
}

#SettingWindow #TitleLabel {
	width:420;
	height:18;
	x:30;
	y:12;
	font: 12px Î¢ÈíÑÅºÚ;
	text-shadow: 0 -1 0 #FF000000;
	color: #FFFFFFFF;
	text-align: center;
}

#SettingWindow #Resizer {
	width:9;
	height:9;
	x:461;
	y:416;
}

#SettingWindow #ContentArea {
	width:444;
	height:287;
	x:18;
	y:96;
}

#TabBar {
	x:14;
	y:28;
	width:452;
	height:57;
}

#TabBar #Tab{
	color: #FFFFFF;
	font: 12px Î¢ÈíÑÅºÚ;
	min-width: 60;
	height: 57;
	text-align: center bottom;
	margin: 2 5 3 5;
}

#TabBar #Tab : checked{
	border: none;
	border-image: url(theme\Elements.png) rect(0,109,60,57) 2;
	color: #a1e73b;
}

#TabBar #LeftButton{
	width: 15;
	height: 57;
	background: url(theme\Elements.png) no-repeat rect(79,0,15,57);
}

#TabBar #LeftButton : hover{
	background: url(theme\Elements.png) no-repeat rect(79,38,15,57);
}

#TabBar #RightButton{
	width: 15;
	height: 57;
	background: url(theme\Elements.png) no-repeat rect(94,0,15,57);
}

#TabBar #RightButton : hover{
	background: url(theme\Elements.png) no-repeat rect(94,38,15,57);
}

#MScrollBar{
	border-image: url(theme\Elements.png) rect(60,109,15,44) stretch opaque 7 7 9 7;
	x: 452;
	y: 91;
	width: 15;
	height: 190;
	margin: 0 0 1 0;
}

#MScrollBar #Thumb{
	border-radius: 7;
	border: 1px solid #000000;
	margin: 1 0 1 0;
	background: url(theme\ThumbBG.jpg) repeat-y border rect(0,0,15,23);
	border-image: url(theme\Elements.png) rect(82,95,11,45) repeat 8 0 8 11;
}

#MScrollBar #Thumb :hover:vertical, #MScrollBar #Thumb :pressed:vertical{
	background: url(theme\ThumbBG.jpg) repeat-y border rect(15,0,15,23);
	background: linear-gradient(left top,left bottom,#4Cff00fc 0%,#4C5400ff 100%) border;
	border-image: url(theme\Elements.png) rect(82,95,11,45) repeat 8 0 8 11;
}
ToolTipWidget {
	border-image: url(theme\Elements.png) rect(75,95,7,26) 3 3 5 3;
	border: 3 3 5 3;
	padding: 2 2 0 2;
	color:#9b6a13;
	font: 9 Î¢ÈíÑÅºÚ;
	text-align: left center;
	text-shadow: 0 1 #ffffff;
	text-overflow: wrap;
}

MetalBone--MCheckBox {
	width:86;
	height:48;
}

MetalBone--MCheckBox :checked{
	background : url(theme\CheckBox.png) 8 rect(86,0,86,384) opaque single-loop;
}

MetalBone--MCheckBox :unchecked{
	background : url(theme\CheckBox.png) 8 rect(0,0,86,384) opaque single-loop;
}

MetalBone--MCheckBox :checked:disabled{
	background : url(theme\CheckBox.png) rect(86,384,86,48) opaque single-loop;
}

MetalBone--MCheckBox :unchecked:disabled{
	background : url(theme\CheckBox.png) rect(0,384,86,48) opaque single-loop;
}