#mainWindow{
	background: url(theme\MC_BG.gif) repeat;
}
ChildWidget{
	background: #FF0000;
	border: 3px solid #0000FF;
	font: 36 Î¢ÈíÑÅºÚ;
font-weight: bold;
text-align: center;
text-outline: 6 0 #567890;
	text-shadow: 0 8 0 #7fFFFFFF;
}
#child4{
	background: url(theme\ani.gif) no-repeat;
	border: 3px solid #000000;
	cursor: no-cursor;
}
#child2{
	background: #123456;
	border: 3px solid #654321;
	cursor: wait;
}
ChildWidget Button{
	color: #112233;
	font: 12 Î¢ÈíÑÅºÚ;
font-weight: bold;
text-align: center;
	text-shadow: 0 1 0 #9fFFFFFF;
	border-image: url(theme\CustomBtn.png) 4;
}
ChildWidget Button:hover{
	background: url(theme\ani.gif) 4;
border-image: none;
	cursor: pointer;
}
ChildWidget Button:pressed{
	border-image: url(theme\CustomBtnDisabled.png) 4;
}
